body {
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f0f13;
}

@media (max-width: 740px) {
  .hero {
      h1 {
          font-size: 53px;
      }
  }
}

@media (min-width: 741px) {
  .hero {
      h1 {
          font-size: 60px;
      }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

header {
  color: #e5e5e5;
  height: 80px;
  background-color: transparent;
  z-index: 100;
}

#logo {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  opacity: 1.0;
}

#logo:hover {
  opacity: 0.8;
}

nav {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}

nav ul {
  list-style: none;
  margin: 0;
  display: inline;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 18px;
  opacity: 1.0;
  transition: 0.3s;
  position: relative;
}

nav a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -2px;
  left: 0;
  background-color: #4765B7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav a:hover {
  opacity: 0.8;
}

.hero {
  height: 200px;
  background-color: #1a2d5a;
  background-image: url('./images/bannerNew.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 300px 30px 30px 30px;
}

.hero-text-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 200px;

  h1, h2 {
    margin: 0;
    max-width: 600px;
  }
}


main {
  background-color: #292929;
  color: #e5e5e5;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -100px;
}

/* h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px #000000;
} */

.box {
  background-color: #1a1a1a;
  color: #e5e5e5;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 2px 2px 5px #000000;
}

.textbox {
  background-color: #1a1a1a;
  color: #e5e5e5;
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 150px;
}

#casting-gigs {
  margin: 0 -20px 0 -20px;
}

.box img {
  max-width: 100%;
}

.box h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffa600;
  text-shadow: 1px 1px #000000;
}

.box h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ff7300;
  text-shadow: 1px 1px #000000;
}

.box p {
  font-size: 18px;
  margin-bottom: 20px;
}

.box a.button {
  background-color: #ffa600;
  color: #0f0f13;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 1px 1px #000000;
}

footer {
  background-color: #9425f9;
  height: 80px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
}

.footer-left {
  margin-right: auto;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px;
  float: left;
}

.social-media-links {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
}

.social-media-links li {
  margin-left: 10px;
}

.social-media-links i {
  font-size: 24px;
  color: #ffffff;
}

a.discord-profile-link {
  color: #ae9999; /* Set the desired color for the link */
}

a.discord-profile-link:hover {
  color: #ffffff; /* Set a different color for the link on hover if desired */
}

img {
  width: 100%;
  height: auto;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: #9425f9;
}

.timeline-event {
  position: relative;
  margin-bottom: 40px;
}

.timeline-event-date {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9425f9;
  color: #fff;
  padding: 4px 8px;
  font-weight: bold;
  border-radius: 5px;
}

.timeline-event-content {
  margin-top: 10px;
  padding: 15px;
  background-color: #634848;
  border-radius: 5px;
}

.timeline-event-content h3 {
  margin-top: 0;
}

.timeline-event-content p {
  margin-bottom: 0;
}

.services {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 15px;
}

.service {
  padding: 20px;
  background-color: #634848;
  border-radius: 5px;
}

.service h3 {
  text-align: center;
  font-size: 1.5em;
}