@font-face {
  font-family: "Abel";
  src: URL("Abel-Regular.ttf") format("truetype");
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Abel", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f0f13;
  min-width: 300px;
}

p {
  font-size: 18px;
}

@media (max-width: 540px) {
  .hero h1 {
    font-size: 46px;
  }
}
@media (min-width: 541px) and (max-width: 740px) {
  .hero h1 {
    font-size: 53px;
  }
}
@media (min-width: 741px) {
  .hero h1 {
    font-size: 60px;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

header {
  color: #e5e5e5;
  height: 80px;
  background-color: transparent;
  z-index: 100;
}

#logo {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  opacity: 1;
}

#logo:hover {
  opacity: 0.8;
}

nav {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}

nav ul {
  list-style: none;
  margin: 0;
  display: inline;
  text-align: right;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 18px;
  opacity: 1;
  transition: 0.3s;
  position: relative;
}

nav a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -2px;
  left: 0;
  background-color: #4765B7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav a:hover {
  opacity: 0.8;
}

.hero {
  height: 200px;
  background-color: #1a2d5a;
  background-image: url("./images/banner-test.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 400px 30px 30px 30px;
  margin-top: -100px;
}

.hero-text-container {
  max-width: 1150px;
  margin: -190px auto 0 auto;
  height: 200px;
}
.hero-text-container h1, .hero-text-container h2 {
  margin: 0;
  max-width: 600px;
}

main {
  background-color: #292929;
  color: #e5e5e5;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 160px);
}

/* h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px #000000;
} */
.box {
  background-color: #1a1a1a;
  color: #e5e5e5;
  display: inline-block;
  margin: 20px;
  text-align: center;
  width: auto;
  box-shadow: 2px 2px 5px #000000;
  border-radius: 8px;
  overflow: hidden;
}
.box .box-info {
  padding: 0 35px 35px 35px;
  width: auto;
}

.textbox {
  background-color: #1a1a1a;
  color: #e5e5e5;
  display: inline-block;
  text-align: center;
  height: 150px;
}

#casting-gigs {
  margin: 0 -20px 0 -20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}
@media (min-width: 601px) and (max-width: 1099px) {
  #casting-gigs {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1100px) {
  #casting-gigs {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.box img {
  max-width: 100%;
}

.box h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffa600;
  text-shadow: 1px 1px #000000;
}

.box h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ff7300;
  text-shadow: 1px 1px #000000;
}

.box p {
  font-size: 18px;
  margin-bottom: 20px;
}

.box a.button {
  background-color: #ffa600;
  color: #0f0f13;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 1px 1px #000000;
}

footer {
  background-color: #9425f9;
  height: 80px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.footer-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
  width: 100%;
}

.footer-left {
  margin-right: auto;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
}

.social-media-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-media-links li {
  margin-left: 10px;
}

.social-media-links i {
  font-size: 24px;
  color: #ffffff;
}

a.discord-profile-link {
  color: #ae9999;
  /* Set the desired color for the link */
}

a.discord-profile-link:hover {
  color: #ffffff;
  /* Set a different color for the link on hover if desired */
}

img {
  width: 100%;
  height: auto;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: #9425f9;
}

.timeline-event {
  position: relative;
  margin-bottom: 40px;
}

.timeline-event-date {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9425f9;
  color: #fff;
  padding: 4px 8px;
  font-weight: bold;
  border-radius: 5px;
}

.timeline-event-content {
  margin-top: 10px;
  padding: 15px;
  background-color: #634848;
  border-radius: 5px;
}

.timeline-event-content h3 {
  margin-top: 0;
}

.timeline-event-content p {
  margin-bottom: 0;
}

.services {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, [col] 1fr);
  grid-template-rows: repeat(2, [row] auto);
}

.service {
  padding: 20px;
  background-color: #634848;
  border-radius: 5px;
}
.service:nth-child(1) {
  grid-column: col 1/span 3;
  grid-row: row 1;
  background: linear-gradient(178deg, #66407b 0%, #e90f5f 100%, #fba8d6 100.1%);
}
.service:nth-child(2) {
  grid-column: col 4/span 2;
  grid-row: row 1;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.service:nth-child(3) {
  grid-column: col 1/span 2;
  grid-row: row 2;
  background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}
.service:nth-child(4) {
  grid-column: col 3/span 3;
  grid-row: row 2;
  background: linear-gradient(178deg, #391f69 -2.3%, #732b9b 44.4%, #8d236d 103.4%);
}

.service h3 {
  text-align: center;
  font-size: 1.5em;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 15px;
}
.about .about-container {
  padding: 20px;
  border-radius: 8px;
  background-color: #1a1a1a;
}
.about .about-container h2 {
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
